.settings_page_data-sync-options {

  table {
    width: 100%;
  }

  input[type=text] {
    width: 400px;
  }

  textarea, select {
    min-height: 300px;
    width: 400px;
  }

  .display {
    display: block;
    position: fixed;
  }

  .dashicons-update {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}