#wp_data_sync_status_dashboard {

  #wp_data_sync_status {
    width: 100%;
    text-align: left;

  }

  .inside {
    overflow: hidden;

    #status_dashboard_button_wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      overflow: hidden;

      button,
      a {
        padding: 10px;
        background: #0073aa;
        color: white;
        border-radius: 4px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 10px;
      }

      a:hover,
      button:hover {
        background: grey;
      }
    }

    #error_log_wrap {
      margin-top: 20px;

      a {
        width: 100%;
        text-align: center;
        display: block;
      }
    }
  }



}

#wp_data_sync_enabled_post_types_dashboard {
  select {
    width: 100%;
  }

  #save_push_enabled_post_types {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    background: #0073aa;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }

  #save_push_enabled_post_types:hover {
    background: grey;
  }
}