.settings_page_data-sync-options, .toplevel_page_data-sync-options {

  .data_sync_messages {
    max-height: 40px;
    overflow: hidden;
    display:block;
    visibility: hidden;

    .show_more {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }

    .message {
      margin-left: 50px;
    }

  }

  .expand {
    max-height: 100%;
  }

}