#wp_data_sync_status_dashboard {

  #wp_data_sync_status {
    width: 100%;
    text-align: left;

    .wp_data_synced_post_status_icons {
      text-align: center;

      .dashicons-editor-unlink {
        cursor: pointer;
      }

      .dashicons-update {
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  .inside {
    overflow: hidden;

    #status_dashboard_button_wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      overflow: hidden;

      button,
      a {
        padding: 10px;
        background: #0073aa;
        color: white;
        border-radius: 4px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 10px;
      }

      a:hover,
      button:hover {
        background: grey;
      }
    }

    #error_log_wrap {
      margin-top: 20px;

      a {
        width: 100%;
        text-align: center;
        display: block;
      }
    }
  }

}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}