#syndicated_posts {
  .warning {
    color: #ff5400;
  }

  .danger_button {
    background: #d9534f;
    color: white;
  }

  .warning_button {
    background: #f0ad4e;
    color: white;
  }

  .success {
    color: #5cb85c;
  }

  .push_post_now {
    cursor: pointer;
  }

  .none_enabled {
    color: red;
  }

  #bulk_data_push, #refresh_syndicated_posts {
    margin: 20px 0;
  }

  #bulk_data_push {
    float: right;
  }

  #refresh_syndicated_posts {
    float: left;
  }

  table {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;

    td:first-of-type {
      width: 30px;
    }

    th:first-of-type {
      float: left;
    }

    th:last-of-type {
      float: right;
    }

    tr td, thead tr th {
      padding: 5px;
    }

    tr:nth-child(4n+1) {
      background: #efefef;
    }

    thead tr {
      background: silver !important;
    }

    tr.loading {
      background: linear-gradient(270deg, #aeb5b4, #8e1b30);
      background-size: 400% 400%;

      -webkit-animation: AnimationName 4s ease infinite;
      -moz-animation: AnimationName 4s ease infinite;
      animation: AnimationName 4s ease infinite;
    }

    .flash_success {
      -webkit-animation-name: flash_success;
      -webkit-animation-duration: 900ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out;
    }

    .reveal_connected_site_details {
      cursor: pointer;
      float: right;
      font-size: 30px;
    }

    .connected_site_details {
      padding: 10px;
      margin: 10px 0 10px 0;
    }

    .data_error {
      text-align: center;
    }
  }

  #wp_data_sync_status {
    width: 100%;
    text-align: left;

    .trashed {
      color: red;
    }

    .expand_post_details {
      float: right;
      font-size: 30px;
      cursor: pointer;
    }


    .post_details {
      padding: 10px;
      margin: 10px 0 10px 0;
      background: #0c0c0c05;
      display: none;

      span {
        width: 100%;
        display: block;
        margin: 5px 0 5px 0;
      }

      .post_detail_wrap {
        padding: 10px;

        h4 {
          text-align: center;
          font-weight: bold;
        }

        .source_details, .connected_site_info {
          margin-bottom: 30px;
        }

        .details {
          margin-bottom: 40px;
        }
      }

    }

    .wp_data_synced_post_status_icons {
      text-align: center;

      .dashicons-yes {
        color: green;
      }

      .dashicons-update {
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  .inside {
    overflow: hidden;

    #status_dashboard_button_wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      overflow: hidden;

      button,
      a {
        padding: 10px;
        background: #0073aa;
        color: white;
        border-radius: 4px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 10px;
      }

      .disabled {
        background: grey;
        cursor: not-allowed;
      }

      .wait {
        background: grey;
        cursor: wait;
      }

      a:hover,
      button:hover {
        background: grey;
      }
    }

    #error_log_wrap {
      margin-top: 20px;

      a {
        width: 100%;
        text-align: center;
        display: block;
      }
    }
  }

  #status_wrap {
    .dashicons-update {
      animation-name: spin;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-webkit-keyframes flash_success {
  0% {
    background-color: #00ff21;
    opacity:1;
  }
  22% {
    background-color: #6fff8e;
  }
  77% {
    background-color: #a2ffbf;
  }
  100% {
    background-color: inherit;
  }
}