#refresh_error_log {
  cursor: pointer;
  float: right;
  margin: 20px 0;
}

#delete_error_log.button-warning {
  background: #d9534f;
  color: white;
  margin: 20px 0;
}

#error_log {
  table {
    margin: 20px 0;

    tr td {
      min-width: 150px;
      padding: 5px;
    }
  }
}